@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("BuyItem", "Home"))
{
    <div class="jumbotron">
        <h1>@ViewBag.Message</h1>
        <h2>@ViewBag.CurrentItems</h2>
        <input type="submit" value="Buy Item" class="btn btn-primary btn-lg"> 
    </div>

}