@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Phone Number:</strong>   <a>(+20)100-977-5576</a><br />
    <strong>Email:</strong> <a href="mailto:ah.sawahel@gmail.com">ah.sawahel@gmail.com</a>
</address>