@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead">This is a simple ASP.NET application using MVC pattern.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create roles</h2>
        <p>
            Here you can create roles and assign roles to users, just click on the "Roles" tab in the header.
            Create a role named "admin" (check spelling) for a user to have adminstrative rights and have access to the admin page.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Admin Controls</h2>
        <p>
            Here you can see all users details with admin rights to create, edit and suspend users.
            Just click on the "Admin" tab in the header to check this feature.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Buy Items</h2>
        <p>
            Here you can buy items after logging in and every item baught is recorded for the logged in user.
            Baught items count can be checked by the adminstrators in the admin page.
            Just click on the "Buy" tab in the header to check this feature.
        </p>
    </div>
</div>