@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <td>Enter role name to be created</td>
        <td>@Html.EditorFor(m => m.Name)</td>
    </table>
    <input type="submit" value="Create Role" /> 
}
